{% extends 'layout.html' %}
{% set active_page = "about" %}

{% block title %}About{% endblock %}

{% block content %}

    <div class="wrapper"><h1 id="aboutHeader">Translational Data Catalog</h1>
        <p>(A joint effort among IMI-FAIRplus, IMI-eTRIKS and ELIXIR-Luxembourg)</p>
        <h3>Background</h3>
        <p>Translational research scientists want to know what project study descriptions are available for disease
            areas and access the existing knowledge landscape. The Translational Data Catalog will be a metadata repository
            linking the massive data available in a global system that can be optimally leveraged to improve biomedical
            research. The Data Catalog will be interfaced with web-based software to enable remote, interactive
            data-mining such that important metadata and summaries of curated studies can be displayed. The idea would
            be to have a 'one stop shop' to show the datasets that are available in IMI, H2020 projects and other
            projects or published
            sources and let us help partners to promote the solution and encourage to share data. This will create value
            for public and private organisations/ translational researchers and drive research collaboration formation
            towards convergence and precision medicine.</p>
        <h3>Unique Value</h3>
        <p>There was no such thing as a Data catalog for large research initiatives such as IMI and H2020 that
            centralizes metadata of ongoing and past projects.
            It is part of the service of eTRIKS and a key deliverable of the FAIRplus project to support
            the FAIR data concept starting with a focus on the findability of project level metadata.</p>
        <h3>Requirements</h3>
        <p>The registry has been built up from the user perspective. Users confirm that the pilot is useful and want to
            give us their metadata.
            The framework is based on the recognition of value and the level of content. Software should meet users
            needs and keep it simple as possible. A scope is defined in parallel with creation of rough timeline.</p>
        <h3>Approach</h3>
        <p>We performed a lean process to generically develop the catalog based on product-solution fit interviews
            that revealed the value and feasibility of the approach from a technical and a data gathering angle and
            enabled us to build a metadata template in a joined eTRIKS-UL-ELIXIR collaboration.
            Next, in the FAIRplus project, this template is being further developed to adopt community accpeted data models and accommodate more use cases and data types.
            Alongside these developments the data catalog pilot version was developed and is getting populated
            gradually with more and more projects.</p>
        <h3>Impact</h3>
        <p>Data Catalog will directly impact the range of sources and ease with which projects can access data
            sources. With the Data Catalog, researchers will be able to create awareness and recognition of
            their data contribution and demonstrate value of partner projects. Users will have the opportunity to find
            and access selected datasets. The repository will fuel dissemination of results with better outcomes for
            research projects as well as driving success for patients in the medical landscape. </p>
        <p>The support from IMI having new and retrospective projects to suggest filling in the catalog will be of
            great value to leverage the benefits for all stakeholders.</p>


    </div>

{% endblock %}
