{% import 'macros.html' as macros %}

<!doctype html>
<html lang="en">
<head>
    <title>{{ config.get('TITLE', 'π²') }} - {% block title %}Home{% endblock %}</title>
    {% block meta %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="csrf-token" content="{{ csrf_token() }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
    {#    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}">#}
    {% block css %}
        <!-- Material Design fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
        {% assets "common_css" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
        {% endassets %}
    {% endblock %}
    <script type="text/javascript">
        function defer(method) {
            if (window.jQuery)
                method();
            else
                setTimeout(function () {
                    defer(method)
                }, 50);
        }
    </script>
</head>
<body class="{{ body_extra_class }}">
{% block navbar %}
    {% if not no_navbar %}
        {% with active_page=active_page %}
            {% include 'navbar.html' %}
        {% endwith %}
    {% endif %}
{% endblock %}

{% block container %}
    <div class="container" id="main-container">
        {{ macros.show_flashes() }}
        {% block content %}{% endblock %}
    </div>
{% endblock %}
{% block extra_content %}{% endblock %}

<footer>
    {% block footer %}
        {% block footerlogos %}
            <div class="container">
                <div class="row ">
                    <div class="col-xs-2 logo" id="eulogo">
                        <a href="https://ec.europa.eu/"><span class="helper"></span><img
                                src="{{ config.get('URL_PREFIX', '') }}/static/public/images/EU_logo.jpg"
                                alt="eu logo"/></a>
                    </div>
                    <div class="col-xs-2 logo" id="ullogo">
                        <a href="https://www.uni.lu/lcsb"><span class="helper"></span><img
                                src="{{ config.get('URL_PREFIX', '') }}/static/public/images/unilcsb.svg"
                                alt="ul logo"/></a>
                    </div>
                    <div class="col-xs-2 logo" id="imilogo">
                        <a href="https://www.imi.europa.eu"><span class="helper"></span><img
                                src="{{ config.get('URL_PREFIX', '') }}/static/public/images/IMI_logo.png"
                                alt="imi logo"/></a>
                    </div>


                    <div class="col-xs-2 logo" id="elixirlogo">
                        <a href="https://www.elixir-luxembourg.org"><span class="helper"></span><img
                                src="{{ config.get('URL_PREFIX', '') }}/static/public/images/Elixir_LU.svg"
                                alt="elixir luxembourg logo"/></a>
                    </div>
                    <div class="col-xs-2 logo" id="etrikslogo">
                        <a href="https://www.etriks.org/"><span class="helper"></span><img
                                src="{{ config.get('URL_PREFIX', '') }}/static/public/images/etriks.png"
                                alt="etriks logo"/></a>
                    </div>
                    <div class="col-xs-2 logo" id="fairpluslogo">
                        <a href="https://fairplus-project.eu/"><span class="helper"></span><img
                                src="{{ config.get('URL_PREFIX', '') }}/static/public/images/fairplus-logo.png"
                                alt="fairplus logo"/></a>
                    </div>
                    <div class="col-xs-2 logo" id="efpialogo">
                        <a href="https://www.efpia.eu/"><span class="helper"></span><img
                                src="{{ config.get('URL_PREFIX', '') }}/static/public/images/efpia_logo.png"
                                alt="efpia logo"/></a>
                    </div>

                </div>
            </div>
        {% endblock %}
        {% block footercopyright %}
            <p style='text-align:center;padding-bottom: 20px'>
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                    <img style='width:88px; border-width:0'
                         alt="Creative Commons License"
                         src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png"/></a><br/>This
                work is licensed under a
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons
                    Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
            </p>
        {% endblock %}
    {% endblock %}
</footer>
{% block js %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
            integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
            crossorigin="anonymous"></script>
    {% assets "common_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
</body>
</html>
