{% extends 'layout.html' %}

{% block container %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-lg-3  hidden-xs hidden-md" id="sidebar-left">
                {% block left_sidebar %}

                {% endblock %}
            </div>
            <div class="col-lg-8 col-xs-12 col-md-12">
                {#                <div class="container">#}
                {{ macros.show_flashes() }}
                {% block content %}{% endblock %}
                {#                </div>#}
            </div>
        </div>
    </div>
{% endblock %}