{% extends 'layout.html' %}

{% block content %}
    <div class="myApplications">
        <h1>My data access requests</h1>
        {% if entities_with_access %}
            <h2>Accessible datasets</h2>
            <div class="myAccesses">
                {% for entity in entities_with_access %}
                    <a href="{{ url_for('entity_details', entity_name=entity_name, entity_id=entity.id) }}">
                        <span class="access">{{ entity.title }}</span>
                        <span class="backicon glyphicon glyphicon-ok-circle text-success"></span>
                    </a>
                {% endfor %}
            </div>
            <h2>Pending and rejected data access requests</h2>
        {% endif %}
        {% if applications %}
            <div id="applications-datatable"
                 data-applications="{{ applications }}"
                    {% if actions_allowed %}
                 data-actions-allowed="true"
                        {# TODO: This will not work when user_actions are made available #}
                 data-close-url="{{ url_for('close_application', entity_name=entity_name, application_id=application.id) }}"
                    {% endif %}
            >
            </div>
        {% else %}
            <p><strong>No data access requests found.</strong></p>
        {% endif %}
    </div>
{% endblock %}
