{% extends 'layout.html' %}
{% set entity_name = "project" %}
{% import 'macros.html' as macros %}


{% block jsonld %}
    {{ super() }}
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@id": "{{ request.url }}",
      "@type": "Project",
      "http://purl.org/dc/terms/conformsTo": {
            "@id": "https://schema.org/Project",
            "@type": "CreativeWork"
        },
      "name": "{{ project.title }}",
      "description": "{{ project.description }}",
      "alternateName": "{{ project.acronym }}",
      "identifier": {
          "@type": "PropertyValue",
          "@id": "{{ project.id }}"
        },
      "sameAs": "{{ project.website }}",
      "keywords": [
        {% for keyword in project.keywords -%}{"@type":  "DefinedTerm", "@id": "", "name": "{{ keyword }}"}{{ ", " if not loop.last }}
        {%- endfor %}],
      "url": "{{ request.url }}",
      "foundingDate": "{{ project.start_date }}",
      {%- if project.funded_by %}
        {%- set g_index = project.funded_by.find('(Grant') - 1 %}
        "funding": {
            "@type": "Grant",
            "identifier": "{{ project.funded_by.split()[-1][:-1] }}",
            "funder": {
                "@type": "Organization",
                "name": "{{ project.funded_by[:g_index] }}"
            }
        }
      {% else %}
        "funding": {}
      {%- endif %}
    }
    </script>
{% endblock %}

{% block title %}Project - {{ project.title }}{% endblock %}


{% block content %}
    <div class="well box projectDetails">
        {% if fair_evaluations_show and project.fair_evaluation %}
            <p class="fairResultsStamp"><img alt='fairplus stamp'
                                             title="Dataset processed by FAIRplus. See FAIRplus Evaluation tab for details."
                                             src="/static/public/images/fairplus-stamp.png"/></p>
        {% endif %}
        <h1>{{ project.title }}</h1>
        {% if config.get('ALLOW_ENTITY_EXPORT', False) %}
            <div class="form-inline">
                <div class="button-link input-group">
                    <p class="input-group-btn">
                        <i class="material-icons">download</i>
                    </p>
                    <a class="btn button-link-text"
                       href="{{ url_for('export_dats_entity', entity_name='project', entity_id=project.id) }}">Export
                        Metadata
                        as DATS</a>

                </div>
            </div>
        {% endif %}
        <p class="notes">{{ project.description | default("", True) }}</p>
        <p>
            {% if project.keywords %}
                keywords: {{ macros.split_labels(project.keywords, facet_url=facets_url.keywords) }}
            {% endif %}
        </p>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            {#    GENERAL INFORMATION   #}

            {{ macros.start_panel("General Project Information", "general_information", True) }}
            {{ macros.show_field_link(project.website, "Project website", project.website) }}
            {{ macros.show_field_text(project.start_date | date, "Start date", facet_url=facets_url.start_date) }}
            {{ macros.show_field_text(project.end_date | date, "End date", facet_url=facets_url.end_date) }}
            {{ macros.show_field_text(project.funded_by, "Funding", facet_url=facets_url.funded_by) }}
            {{ macros.show_field_list(project.types, "Types", facet_url=facets_url.types) }}
            {{ macros.show_field_list(project.reference_publications, "Project publications", facet_url=facets_url.reference_publications) }}

            {{ macros.end_panel() }}

            {#    CONTACTS    #}
            {% if contacts %}
                {{ macros.start_panel("Contacts", "contacts") }}
                {{ macros.show_contact(contacts) }}
                {{ macros.end_panel() }}
            {% endif %}

            {% if  project.studies_entities or project.datasets_entities %}
                {{ macros.start_panel("Studies and datasets", "studies_datasets") }}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <td>Study</td>
                        <td>Datasets</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for study in project.studies_entities %}
                        <tr>
                            <td>
                                <a href="{{ url_for('entity_details', entity_name='study', entity_id=study.id) }}">{{ study.title }}</a>
                            </td>
                            <td>
                                {% for  dataset in study.datasets_entities %}
                                    <span class="label label-primary"><a
                                            href="{{ url_for('entity_details', entity_name='dataset', entity_id=dataset.id) }}">{{ dataset.title }}</a></span>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    {% if project.datasets_entities %}
                        <tr>
                            <td>-</td>
                            <td>
                                {% for dataset in project.datasets_entities %}
                                    <span class="label label-primary">
                                <a
                                        href="{{ url_for('entity_details', entity_name='dataset', entity_id=dataset.id) }}">{{ dataset.title }}</a>
                            </span>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}


                    </tbody>
                </table>
                {{ macros.end_panel() }}
            {% endif %}

            {#    ATTACHED FILES    #}
            {% if attachments_exist %}
                {{ macros.start_panel("Attached files") }}
                <div id="attachments-datatable" data-url="{{ attachment_url }}"></div>
                {{ macros.end_panel() }}
            {% endif %}
        </div>
    </div>


{% endblock %}
