{% extends 'base_search.html' %}
{% set entity_controller = "study_details" %}
{% set entity_name = "study" %}
{% set search_controller = "entities_search" %}
{% set entities = results.entities %}
{% block description %}Studies{% endblock %}


{% block search_results %}
    {% set start_rank = (pagination.page - 1) * pagination.per_page %}
    {% for study in entities %}

        <div class="panel panel-default panel-flat panel-dataset">

            <div class="panel-body" style="position:relative">
                <h3>
                    <a href="{{ url_for('entity_details', entity_name=entity_name, entity_id=study.id) }}">{{ study.title| truncate(55, True) }}</a>
                </h3>
                {% if fair_evaluations_show and study.fair_evaluation %}
                    <a href="{{ url_for('entity_details', entity_name=entity_name, entity_id=study.id) }}#fairplus-evaluation-fields"
                       class="fairResultsStamp"><img alt='fairplus stamp'
                                                     title="Dataset processed by FAIRplus. See FAIRplus Evaluation tab for details."
                                                     src="/static/public/images/fairplus-stamp.png"/></a>
                {% endif %}
                <p class="search-description">{{ study.description | default("", True)|truncate(500, True) }}</p>
                <p style="position:absolute;top:0;right:0;padding:2px;"><span>{{ loop.index + start_rank }}</span></p>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="dataset-card">
                            {% if study.keywords %}
                                <li><span class="dataset-field-label">Keywords:</span>
                                    {% for keyword in study.keywords %}
                                        <span class="label label-default">{{ keyword }}</span>
                                    {% endfor %}
                                </li>
                            {% endif %}
                            {% if study.types %}
                                <li>
                                    <span class="dataset-field-label">Types:</span>
                                    {% for type in study.types %}
                                        <span class="label label-default">{{ type | title }}</span>
                                    {% endfor %}
                                </li>
                            {% endif %}
                            {% if study.category %}
                                <li><span
                                        class="dataset-field-label">Therapeutic area:</span> {{ study.therapeutic_area_standards_disease }}
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock %}